############################
######### Bindings #########
############################

# Set the prefix to `ctrl + a` instead of `ctrl + b`
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# Automaticall set window title
set-window-option -g automatic-rename on
set-option -g set-titles on

# Use | and - to split a window vertically and horizontally instead of " and % respectively
bind | split-window -h -c "#{pane_current_path}"
bind - split-window -v -c "#{pane_current_path}"
unbind '"'
unbind %

##########################
######## Settings ########
##########################

# Reload config file
bind r source-file ~/.tmux.conf

# Source bashrc
set-option -g default-shell "/bin/bash"

# remove escape time interval
set -sg escape-time 0

# Refresh the status line every 5 seconds
set -g status-interval 5

# Start window pane indices at 1
set -g base-index 1
set -g pane-base-index 1

# Faster pane switching with vim movement
bind -n M-h select-pane -L
bind -n M-l select-pane -R
bind -n M-k select-pane -U
bind -n M-j select-pane -D

######################
### DESIGN CHANGES ###
######################

# Use 256 color terminal
set -g default-terminal "screen-256color"

#colour0 (black)
#colour1 (red)
#colour2 (green)
#colour3 (yellow)
#colour4 (blue)
#colour7 (white)
#colour5 colour6 colour7 colour8 colour9 colour10 colour11 colour12 colour13 colour14 colour15 colour16 colour17

# loud or quiet?
set-option -g visual-activity off
set-option -g visual-bell off
set-option -g visual-silence off
set-window-option -g monitor-activity off
set-option -g bell-action none

# modes
setw -g clock-mode-colour colour5
setw -g mode-attr bold
setw -g mode-fg colour1
setw -g mode-bg colour18

# panes
set -g pane-border-bg colour0
set -g pane-border-fg colour19
set -g pane-active-border-bg colour0
set -g pane-active-border-fg colour4

# statusbar
set -g status on
set -g status-position bottom
set -g status-justify left
set -g status-bg colour18
set -g status-fg colour137
set -g status-attr dim
set -g status-left ''
set -g status-right '#[fg=colour233,bg=colour2,bold] ♫#(~/bin/getSpPlaying) #[fg=colour233,bg=colour19,bold] %h %d %Y #[fg=colour233,bg=colour8,bold]%l:%M %p#[bg=colour8,bold]#(~/bin/battery Charging)#[fg=colour7,bg=colour8,bold] #(~/bin/battery Discharging) '
set -g status-right-length 70
set -g status-left-length 20

setw -g window-status-current-fg colour4
setw -g window-status-current-bg colour19
setw -g window-status-current-attr bold
setw -g window-status-current-format ' #I#[fg=colour249]:#[fg=colour255]#W#[fg=colour249]#F '

setw -g window-status-fg colour4
setw -g window-status-bg colour18
setw -g window-status-attr none
setw -g window-status-format ' #I#[fg=colour237]:#[fg=colour250]#W#[fg=colour244]#F '

setw -g window-status-bell-attr bold
setw -g window-status-bell-fg colour255
setw -g window-status-bell-bg colour4

# messages
set -g message-attr bold
set -g message-fg colour232
set -g message-bg colour16
